@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #008584;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccccc;
    padding: 15px 30px;
}

.logo img {
    width: 50px;
    border-radius: 90%;
}

.menu-toggle {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #008584;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 150px;
    height: 100%;
    background-color: #006666;
    padding-top: 50px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    color: #cccccc;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidebar.active {
    left: 0;
}

.banner-text {
    text-align: center;
    color: #cccccc;
    font-size: 40px;
    margin-top: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.banner-text p {
    font-size: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.btn-projetos {
    background-color: #cccccc;
    color: #008584;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
    border: none;
}

.btn-projetos:hover {
    background-color: #006666;
    color: #cccccc;
}

.material-icons {
    color: #cccccc;
    margin-right: 5px;
    width: 20px;
    height: auto;
    vertical-align: middle;
}